
{% load placeholder from cms_tags %}


{% include THEME_PREFIX|add:'/static.html' %}

{% include THEME_PREFIX|add:'/menu.html' %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			{% placeholder "header" %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			{% placeholder "top-row" %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<content>
				{% comment %}
					Here "special" refers to it being a apphooked page that provides it's own content but
					should use the other placeholders. It's set to True if included from get_theme_special.html.
				{% endcomment %}
				{% if special %}
					{% include page_include %}
				{% else %}
					{% placeholder "content" %}
				{% endif %}
			</content>
		</div>
		<div class="col-xs-12 col-md-4">
			{% block sidebar %}
				{% placeholder "sidebar" %}
			{% endblock sidebar %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{% placeholder "bottom-row" %}
		</div>
	</div>
</div>


