
{% comment %}
	Imports head and body separately because sekizai_tags tags must be in this top template.
	I can't make the top template dynamic and I can't use includes (issue #66). C'est la vie.
{% endcomment %}

{% load cms_toolbar from cms_tags %}
{% load render_block from sekizai_tags %}


{% include 'global_head.html' %}

<!doctype html>
<html lang="en">
	<head>
		{% include THEME_HEAD %}

		{% render_block "css" %}

		{{ MINIMAL_LOG_JAVASCRIPT_HANDLING_CODE }}
		{% render_block "js" %}
	</head>
	<body>
		{% cms_toolbar %}

		{% comment %}
			Below is a hack that's necessary because it seems CMS does a scan of this file
			without Context to find the placeholders. Since placeholders have to match
			between themes anyway, might as well put them all in a default one for discovery.
		{% endcomment %}
		{% if THEME_BASE %}
			{% include THEME_BASE %}
		{% else %}
			{% include 'default_body.html' with special=False %}
		{% endif %}
	</body>
</html>


