
{% load timesince_short from formatting %}
{% load highlight from highlight %}
{% load language_flag_url from language_flags %}
{% load pagination_url from pagination %}


<form action="{% url 'search' %}" method="get">
	<div class="input-group">
		<input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Search for..." autofocus>
		<span class="input-group-btn">
			<button class="btn btn-default" type="button">
				<i class="glyphicon glyphicon-search"></i>
				Search
			</button>
		</span>
	</div>
</form>

<p>
	{% if query %}
{#		{% if language_code %}#}
{#			There are {{ count }} matches for <strong>{{ query }}</strong> in <img src="{% language_flag_url language_code %}" /> {{ language_name }}.#}
{#			Search <a href="?q={{ query }}">all languages</a>. {# back to page 1 #}
{#		{% else %}#}
			There are {{ count }} matches for <strong>{{ query }}</strong>.
{#		{% endif %}#}
	{% else %}
		Enter a search query in the search box.
	{% endif %}
</p>

<ol class="search-results">
	{% for result in results %}
		<li>
			<strong>
				<a href="{{ result.url }}">
					{% highlight result.title with query %}
				</a>
			</strong>
			{% if not language_code %}
{#				<a href="?q={{ query }}&lang={{ result.language }}"> {# back to page 1 #}
					<img src="{% language_flag_url result.language %}" style="opacity: 0.5;" /> {# todo tmp #}
{#				</a>#}
			{% endif %}
			{{ result.pub_date|timesince_short }}
			<br />
			{% if result.text %}
				{% highlight result.text with query %}
			{% endif %}
		</li>
	{% empty %}
		<li>No results found.</li>
	{% endfor %}
</ol>

{% include 'pagination.html' with items=results %}


