
{% load placeholder page_attribute from cms_tags %}


{% include THEME_PREFIX|add:'/static.html' %}

<!-- Default menu -->
{% include THEME_PREFIX|add:'/menu.html' %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">

			{% placeholder "top-row" %}

			{% block messages %}
				{% if messages %} {# todo #}
					<div class="messages">
						{% for message in messages %}
							<div class="alert alert-{% if message.tags %}{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% else %}info{{ message.tags }}"{% endif %} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>{{ message.tags|title }}</strong> {{ message }}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endblock messages %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row"> <!-- This is the grid system - it makes sure everything adapts to small windows, like phones -->
		<div class="col-xs-12 col-md-8">
			<div id="content-container" class="panel panel-default">
				<div class="panel-body">
					<content>
						{% block content %}
							<article>
								<div class="page-header">
									<h1>{% page_attribute "title" %}</h1>
{#									<h1>Example page header <small>Subtext for header</small></h1>#}
								</div>

								{% placeholder "content" %}

							</article>
						{% endblock content %}
					</content>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-4">

{#			{% placeholder "submenu" %}    {# todo: remove? #}
{#			{% placeholder "sidelogin" %}  {# todo: remove? #}
			{% placeholder "sidebar" %}
{#			{% placeholder "sidecontact" %}{# todo: remove? #}

			<!-- Here we can place sidebar things, like menus, birthdays, etc; -->
			<article>
				<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Login</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">Login</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> I'm awesome
							</label>
						</div>
						<button type="submit" class="btn btn-success pull-right">Login</button>
						<a class="btn btn-warning" href="/" role="button">Register</a>
					</form>
				</div>
			</div>
			</article>

			<article>
				<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Birthdays</h3>
				</div>
				<div class="panel-body">
					<ul class="media-list">
						<li class="media">
							<div class="media-left">
								<div class="user_icon">
									<a href="#"> <!-- Class user_icon is defined above -->
										<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
									</a>
								</div>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Mark V</h4>
								Head Python voodoo
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<div class="user_icon">
									<a href="#"> <!-- Class user_icon is defined above -->
										<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
									</a>
								</div>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Peter C</h4>
								Soon-to-be Bootstrap expert
							</div>
						</li>
					</ul>
				</div>
			</div>
			</article>

			<!--Shoutbox-->
			{% block chat_widget %}
				<article>
					<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Shoutbox</h3>
					</div>
					<div class="panel-body">
						<ul class="media-list">
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Mark V <span>gisteren</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Mark V <span>gisteren</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Mark V <span>gisteren</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Mark V <span>gisteren</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Mark V <span>gisteren</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Mark V <span>gisteren</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
							<li class="media chat_message">
								<div class="media-left">
									<div class="user_icon_chat">
										<a href="#"> <!-- Class user_icon is defined above -->
											<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
										</a>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
									<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
								</div>
							</li>
						</ul>
					</div>
				</div>
				</article>
			{% endblock chat_widget %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{% placeholder "bottom-row" %}
		</div>
	</div>
</div>


