
{% load static from staticfiles %}
{% load page_url placeholder from cms_tags %}
{% load show_menu show_sub_menu show_breadcrumb language_chooser from menu_tags %}
{% load language_flag_url from language_flags %}
{% load get_current_language from i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div id="header-container" class="container"> <!-- if you remove this, the menu will be wider -->
	<nav id="header-menu-top" class="navbar navbar-default hidden-xs hidden-sm" style="min-height:33px;">
		<div class="container-fluid" style="stylebackground-image: url(http://leonardo.science.ru.nl/templates/al_monalisa/images/menubar_separator.png); height:33px;" >
			<!-- Breadcrumbs to curent page. -->
			<div class="nav navbar-nav" style="height:33px;">
				<ul class="breadcrumb" style="height:33px;">
					{% block breadcrumb %}
						{% show_breadcrumb 0 THEME_PREFIX|add:'/breadcrumbs.html' %}
					{% endblock %}
				</ul>
			</div>

			<div class="nav navbar-nav">
				<ul class="breadcrumb child-crumbs">
					{% show_sub_menu 1 None 0 THEME_PREFIX|add:'/menu_children.html' %}
				</ul>
			</div>

			<!-- Icons for external sites and feeds. -->
			<ul class="nav navbar-nav navbar-right" style="margin-top:-3px">
	{#			<li class="dropdown">#}
	{#				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
	{#					<i class="glyphicon glyphicon-user"></i> {% if request.user.is_authenticated %}{% firstof request.user.get_short_name 'account' %}{% else %}login{% endif %} <b class="caret"></b>#}
	{#				</a>#}
	{#				<ul class="dropdown-menu {% if not request.user.is_authenticated %}large-dropdown{% endif %}">#}
	{#					{% if request.user.is_authenticated %}#}
	{#						{% include THEME_PREFIX|add:'/menu_items_account.html' %}#}
	{#					{% else %}#}
	{#										<div style="width: 200px; padding: 0.5em;">#}
	{#							{% include THEME_PREFIX|add:'/menu_items_login.html' %}#}
	{#										</div>#}
	{#					{% endif %}#}
	{#				</ul>#}
	{#			</li>#}

				<li id="header-language-switcher">
					<!-- I'm going to ignore this warning: -->
					<!-- Flags represent countries, not languages. Numerous countries use the same language as another country, and numerous countries have more than one official language. -->
					<a href="#" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">
						<img src="{% language_flag_url LANGUAGE_CODE %}" />
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{% language_chooser THEME_PREFIX|add:'/language_chooser.html' %}
					</ul>
				</li>
			</ul>
		</div><!-- /.container-fluid -->
	</nav>

	<header id="header-image" class="hidden-xs hidden-sm">
		<div id="header-right">
			{% placeholder "header" %}
		</div>
		<div id="header-logo">
			<a href="/{{ request.LANGUAGE_CODE }}/">
				<img src="{% static THEME_PREFIX|add:'/logo.png' %}" title="click the logo to go to the main page" />
			</a>
		</div>
		<div id="header-caption">
			<h1>Leonardo da Vinci</h1>
			<p>Studievereniging Natuurwetenschappen en Science Nijmegen</p>
		</div>
	</header>

	<div id="header-main-affix">
		<div class="container">
			<nav id="header-menu-main" class="navbar navbar-default">
				<!-- #todo: http://www.w3schools.com/bootstrap/bootstrap_affix.asp -->
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- <a class="navbar-brand" href="#">Leonardo</a> -->
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="cms-menu">
						<ul class="nav navbar-nav">
							{% block menu %}
								{% show_menu 0 5 5 5 THEME_PREFIX|add:'/menu_tree.html' %}
							{% endblock menu %}
						</ul>
					</div><!-- /.navbar-collapse -->

					<!-- Account options for small displays: a second collapse item -->
{#					<div id="menu_account_parent" class="hidden-lg hidden-md hidden-sm visible-xs">#}
{#						<div class="collapse navbar-collapse" id="menu_account">#}
{#							<ul class="nav navbar-nav">#}
{#								{% if request.user.is_authenticated %}#}
{#									{% include THEME_PREFIX|add:'/menu_items_account.html' %}#}
{#								{% else %}#}
{#									{% include THEME_PREFIX|add:'/menu_items_login.html' %}#}
{#								{% endif %}#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}

					<!-- Account options for large displays: a normal dropdown menu -->
					<div class="visisble-lg visisble-md visisble-sm hidden-xs">
						<ul class="nav navbar-nav navbar-right navbar-nocollapse">

						</ul>
					</div>

					<!-- Search for medium devices as a button with dropdown formfield (the other one is inside collapse) -->
					<div class="hidden-lg hidden-md visible-sm hidden-xs">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" id="menu-search-dropdown-button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<i class="glyphicon glyphicon-search"></i> search
									<span class="caret"></span>
								</a>
								<ul id="menu-search-dropdown" class="dropdown-menu large-dropdown">
									<li class="form-group">
										<form action="{% url 'search' %}" method="GET" title="cltr+H">
											<div class="input-group">
												<input type="text" name="q" class="form-control search-typeahead" placeholder="Search" autocomplete="off">
												<div class="input-group-btn" >
													<label class="btn btn-default" for="search_submit_dropdown">
														<i class="glyphicon glyphicon-search"></i>
													</label>
												</div>
											</div>
											<input type="submit" style="display: none;" id="search_submit_dropdown" />
										</form>
									</li>
								</ul>
							</li>
						</ul>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="menu_general">

						<!-- Search for very large (in bar) or very small (in collapse) sites -->
						<div class="visible-lg visible-md hidden-sm visible-xs">
							<div id="menu-search-mainbar" class="nav navbar-form navbar-right" style="margin-right: -35px;">
								<form class="form-inline" role="search" action="{% url 'search' %}" method="GET" title="cltr+H">
									<div class="form-group">
										<div class="input-group">
											<input type="text" name="q" class="form-control search-typeahead" value="{{ query }}" placeholder="Search" {% block menu_autofocus %}autofocus{% endblock menu_autofocus %} data-provide="typeahead" autocomplete="off">
											<div class="input-group-btn" onclick="">
												<label class="btn btn-default" for="search_submit_bar">
													<i class="glyphicon glyphicon-search"></i>
												</label>
											</div>
										</div>
									</div>
									<input type="submit" style="display: none;" id="search_submit_bar" />
								</form>
							</div>
						</div>
					</div>

				</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>
</div>


